In [1]:
import pandas as pd

In [2]:
#Ratings data
rating = pd.read_csv('../data/processed/rating.csv')
rating.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [3]:
rating = rating.sort_values("timestamp")
rating.head()

       user_id  item_id  rating  timestamp
214        259      255       4  874724710
83965      259      286       4  874724727
43027      259      298       4  874724754
21396      259      185       4  874724781
82655      259      173       4  874724843

In [4]:
from sklearn.model_selection import train_test_split

train_rows = []
valid_rows = []
test_rows = []

for user, group in rating.groupby("user_id"):
    group = group.sort_values("timestamp")

    n = len(group)
    test_size = int(0.2 * n)
    val_size = int(0.2 * n)

    test = group.iloc[-test_size:]
    valid = group.iloc[-(test_size + val_size):-test_size]
    train = group.iloc[:-(test_size + val_size)]

    train_rows.append(train)
    valid_rows.append(valid)
    test_rows.append(test)

train_df = pd.concat(train_rows)
valid_df = pd.concat(valid_rows)
test_df = pd.concat(test_rows)

In [5]:

import pickle

with open("../models/train_valid_test.pkl", "wb") as f:
    pickle.dump((train_df, valid_df, test_df), f)